@media (max-width: 770px) {
    body {
        background-color: #ffffff;
    }

    .container {
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 30px;
        padding: 0 auto;
    }

    .container .foto {
        max-width: 50%;
        min-width: 50%;
        padding: 0 auto;
    }

    .container .sobreMim {
        text-align: center;
    }

    .container .menu{
        position: absolute;
        top: 0;
        background-color: rgb(44, 44, 44);
        height: 100%;
        width: 100%;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}