@media (max-width: 1060px){
    .overlay-text{
        font-size:  1vh;
    }
    
}

@media (max-width: 520px){
    .overlay-text{
        font-size:  0.5vh;
    }
    
}
/* Estilos para telas pequenas (máximo de 770 pixels) */
@media (max-width: 770px) {

    .bemVindo{
        max-width: 100%; /* Ajuste a largura da foto conforme necessário */
        min-width: 100%; 
    }

    .bemVindo .textoBemVindo {
        font-size: 6vw; /* Ajuste conforme necessário para telas menores */
      }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 6% 1% 1% 1%;
    }

    .container .foto {
        max-width: 100%; /* Ajuste a largura da foto conforme necessário */
        min-width: 100%; 
    }

    .container .sobreMim {
        text-align: center;
    }

    .text {
        grid-column: 1 / -1;
        font-size: 3vh;
    }

    .text h1{
        font-size: 4vh;
    }
}
