@media (max-width: 1440px) {
    body {
        background-color: #ffffff;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .foto {
        max-width: 50%;
    }

    .container .sobreMim {
        color: #ffffff;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px
    }
}