h1 {
    font-family: 'Poppins';
}
.sobreMim {
    font-family: 'Dancing Script', cursive; 
}
.cabecalho {
    z-index: 1;
    position:static;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;   
}
.cabecalho .logo {
    width: 40%;
    height: 40%;     
}

.cabecalho .menu{
    display: flex;
    align-items: center; 
    box-shadow: 1px 1px 4px color(#2c2c2c); 
}

.cabecalho nav li a { 
    font-weight: bold;
    color: #000000;
    padding: 20px 20px;
    border-radius: 50px;
    transition: 0.2s;  
}
.cabecalho.rolagem{
    background-color: rgb(83, 83, 83); 
    position:fixed;
    transition: 0.8s;
}
.cabecalho.rolagem a{
    color: #000000;
    transition: 0.8s;
}

.cabecalho nav li a:hover {
    background-color: rgb(83, 83, 83);    
}

.container {
    max-width: 1220px;
    /* margin: 0 auto; */
    display: flex;
    transition: 1s;
}

.container .sobreMim {
    color: #f8f8f8;
    background-color: rgb(114, 91, 91);
    width: 100%;
    font-size: 30px;
    margin: 30px auto;
    padding-left: 20px;
    padding-top: 20px;
}
.container .foto{
    width: 100%;
    height: 100%;
}