h1 {
    font-family: 'Poppins';
    text-align: center;
}
html {
    margin: 0;
    padding: 0;
    justify-content: center;
    max-width: 1920px;
    background: #b3b1ab;
    height: 100vh;
    display: flex;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(80, 80, 80, 0.384);
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Garante que o navbar apareça acima de outros elementos na página */
}

.nav-left{
    width: 10%;
    height: 10%; 
}

.nav-right{
    padding-top: 2%;
    padding-right: 3%;
}

.navbar a {
    font-weight: bold;
    color: #000000;
    padding: 20px 20px;
    border-radius: 50px;
    transition: 0.5s;  
}

.nav-right a:hover {
    background-color: rgb(243, 243, 243);
    color: #9b2b2b;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide a tela em duas colunas de largura igual */
    gap: 20px; /* Espaço entre as colunas */
    width: 98%; /* Define a largura total do container */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 6% 1% 1% 1%;
}


.row, .rowmt-3{   /*posicionamento das imagens de EVENTOS*/
    display: flex; 
    justify-content: center;
    padding-left: 1%;
    padding-top: 1%;
}

.photo img {    /*tamanho das imagens de EVENTOS*/
    width: 98%;
    height: 70%;
    border-radius: 10px;
}

.rowmt-3{
    margin-top: -14%;
}

.overlay-text{
    font-family: 'Poppins';
    color: #fcfcfc;
    font-size: 3vh;
    font-family:cursive;
    font-style: italic;
    margin-top: -6vh;
    margin-left: 5%;
}


.photoEu img {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 10px;
}

.text {
    grid-column: 2 / 3; /* O texto ocupa a segunda coluna */
    font-size: 30px;
}

.text h1{
   padding-bottom: 5%;
}

.contatos {
    padding: 2%;
    font-size: 25px;
    margin-top: -18%;
}

.contatos h1{
    padding-bottom: 5%;
}

#footer {
    background: rgba(80, 80, 80, 0.384);
    justify-content: center;
    display:flex;
    font-size: 25px;
    color: #000000;	
    font-weight: 100px;
    margin-top: 10px;
    padding: 1%;   
}

.whatsapp {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 1000;
  }

  .whatsapp a {
    display: block;
    width: 3vw; /* 10% of the viewport width */
    height: 3vw; /* 10% of the viewport width */
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
   
  }

  .whatsapp img {
    width: 90%;
    padding-top: 6%;
    height: auto;
  }